body {
  font-family: "Roboto", "Verdana", sans-serif;
  color:#283136;
  font-size: 16px;
  font-weight:normal;
  line-height: 22px;
  min-width: 900px;
  }

h1 {
  font-family: "Roboto", "Verdana", sans-serif;
  color: #000000;
  font-size: 40px;
  font-weight:normal;
  line-height: 49px;
}

h2 {
  font-family: "Roboto", "Verdana", sans-serif;
  color: #000000;
  font-size: 16px;
  font-weight:normal;
  line-height: 22px;
  text-transform: uppercase;
}

.index-content-title {
  font-family:"Roboto", "Verdana", sans-serif;
  color: #000000;
  font-size: 36px;
  font-weight:normal;
  line-height: 36px;
}

legend {
  font-family:"Roboto", "Verdana", sans-serif;
  color: #000000;
  font-size: 18px;
  font-weight:normal;
  line-height: 30px;
  text-transform: uppercase;
}

.container{
  width:880px;
  padding: 0px 10px;
  margin: 0 auto;
}

.main-header {
  background: #eeeeee;
}

.index-logo {
  float: left;
  width: 140px;
  height: 56px;
  margin-top: 25px;
}

.main-navigation {
  float: left;
  width: 500px;
  padding-left: 100px;
  padding-bottom: 28px;
}

.main-navigation .active {
  border-bottom: 2px solid red;
}


.catalog-title {
  width: 670px;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 80px;
  padding-top: 20px;
}

.index-menu {
  display: inline-block;
  vertical-align: top;
  text-align: right;
  padding-left: 40px;
  margin-top: 35px;
  font-size: 0px;
}

.index-menu:nth-last-child {
  padding-right: 0px;
}

.main-navigation a {
  display: inline-block;
  vertical-align: top;
  color:#283136;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
}

.main-navigation a:hover {
  color: #fb565a;
}

.main-navigation a:active {
  color: #8f8f8f;
}

.user-block{
  float: right;
  width: 100px;
}


.cart {
  width: 100px;
  margin-top: 50px;
  margin-bottom: 15px;
  display: block;
  color:#283136;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 30px;
  text-align: right;
}

.cart:hover {
  color: #fb565a;
}

.cart:active {
  color: #8f8f8f;
}

.slider {
  position: relative;

  width: 880px;
  min-height: 310px;
  margin: 0 auto;
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 310px;

  background-repeat: no-repeat;
  background-position: 100% 10px;

  -webkit-transition: left 0.3s ease;
     -moz-transition: left 0.3s ease;
          transition: left 0.3s ease;
}

.slider input[type="radio"] {
  display: none;
}

.slider-controls {
  position: absolute;
  bottom: 85px;
  left: 50%;
  z-index: 10;

  width: 200px;
  margin-left: -110px;

  text-align: center;
}

.slider-controls label {
  display: inline-block;
  width: 4px;
  height: 4px;
  margin: 0 3px;

  vertical-align: top;

  background: #ffffff;
  border: 3px solid white;
  border-radius: 50%;
  cursor: pointer;
}

.slide-text {
  width: 500px;
  padding: 30px 0;
}

.slide-title {
  font-weight: 500;
  font-size: 36px;
  line-height: 36px;
}

.slide p {
  font-weight: 500;
  line-height: 22px;
  color: #283136;
}

.slide .btn {
  display: inline-block;
  width: 220px;
  margin-top: 10px;
  padding: 9px 9px;

  font-weight: 300;
  font-size: 12px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;

  background: #fb565a;
  border-radius: 4px;
}

.slide .btn:hover {
  background: #d6494d;
}

.slide .btn:active {
  background: #b63538;
  box-shadow: inset 0 3px 0 0 #9b2d30;
}


.slide:nth-child(1) {
  background-image: url("../img/slidercomputer.png");
}

.slide:nth-child(2) {
  background-image: url("../img/slidercalc.png");
}

.slide:nth-child(3) {
  background-image: url("../img/sliderrobot.png");
}

#btn-1:checked ~ .slides .slide:nth-child(1) {
  left: 0;
}

#btn-1:checked ~ .slides .slide:nth-child(2),
#btn-1:checked ~ .slides .slide:nth-child(3) {
  left: 880px;
}

#btn-2:checked ~ .slides .slide:nth-child(1) {
  left: -880px;
}

#btn-2:checked ~ .slides .slide:nth-child(2) {
  left: 0;
}

#btn-2:checked ~ .slides .slide:nth-child(3) {
  left: 880px;
}

#btn-3:checked ~ .slides .slide:nth-child(1) {
  left: -880px;
}

#btn-3:checked ~ .slides .slide:nth-child(2) {
  left: -880px;
}

#btn-3:checked ~ .slides .slide:nth-child(3) {
  left: 0;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] {
  background: #c1c1c1;
}


.range-filter {
  width: 240px;
  margin-top: 12px;
  margin-bottom: 50px;
}

.range-controls {
  position: relative;
  height: 41px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 15px;
  border-radius: 5px;
  background: #f1f1f1;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
  margin-left: 0px;
}

.range-controls .toggle {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 4px;
  height: 4px;
  cursor: pointer;
  border: 8px solid #fff;
  border-radius: 50%;
  background: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
}

.range-controls .toggle-min {
  left: 20px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  font-size: 0;
  text-transform: uppercase;
}

.price-controls label {
  font-size: 16px;
  display: inline-block;
  width: 50%;
}

.max-price {
  text-align: right;
}

.price-controls input {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  width: 60px;
  margin-left: 10px;
  padding: 9px 10px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 3px;
  outline: none;
  background: #f1f1f1;
}

fieldset input {
  display: inline-block;
  vertical-align: top;
  width: 185px;
  padding-left: 30px;
}

fieldset {
border: none;
}

.submit-btn {
  font-size: 12px;
  line-height: 18px;
  color: black;
  text-transform: uppercase;
  background: #f1f1f1;
  border: none;
  padding: 10px 48px;
  border-radius: 4px;
}

.submit-btn:hover {
  background: #e5e5e5;
}

.submit-btn:active {
  box-shadow: inset 0 3px 0 0 #b5b5b5;
  background: #d5d5d5;
}

.form-group input {
  display: none;
}

.form-group label {
  display: block;
}



.services {
  width: 880px;
  padding-top: 80px;
  padding-bottom: 80px;
}

.services .btn {
  display: inline-block;
  text-align: center;
  width: 140px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 12px;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 4px;
  margin-top: 10px;
}

.services p {
  font-size: 15px;
  line-height: 22px;
}

.services h2 {
  font-size: 18px;
  line-height: 30px;
}


.services-websites a {
  background: #fb565a;
}

.services-websites a:hover {
  background: #d6494d;
}

.services-websites a:active {
  background: #b63538;
  box-shadow: inset 0 3px 0 0 #9b2d30;
}

.services-apps a {
  background: #00ca74;
}

.services-apps a:hover {
  background: #01a25e;
}

.services-apps a:active {
  background: #009053;
  box-shadow: inset 0 3px 0 0 #007b47;
}

.services-pres a {
  background: #efc84a;
}

.services-pres a:hover {
  background: #d6ae2c;
}

.services-pres a:active {
  background: #c09b24;
  box-shadow: inset 0 3px 0 0 #a3841f;
}

.service {
  float: left;
  width: 240px;
  margin-right: 80px;
}

.service:last-child {
  margin-right: 0;
}

aside {
  float:left;
  width: 240px;
}

.catalog-conteiner {
  font-size: 0px;
}

.sort-catalog {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.sort-catalog li {
  display: inline-block;
  vertical-align: top;
  padding-right: 40px;
}

.sort-catalog a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 18px;
  color: #b2b2b2;
  border-bottom: 1px #00ca74 dotted;
}

.sort-catalog a:hover {
  border-bottom: 1px #00ca74 solid;
  color:black;
}

.sort-catalog a:active {
  border:none;
  color:black;
}

.sort-catalog-list span {
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
}

.sort {
  display: inline-block;
  vertical-align: top;
}

.sort-up-down {
  display: inline-block;
  vertical-align: top;
  margin-top: 0px;
}

.catalog-container {
  float: right;
  width: 560px;
}

.catalog {
  padding-top: 75px;
}

.catalog-list {
  float: right;
  width: 560px;
}

.catalog-item {
  display: inline-block;
  vertical-align:top;
  position: relative;
  width: 240px;
  min-height: 270px;
  margin-top: 50px;
}

.catalog-item:nth-child(1) {
  margin-top: 0px;
}

.catalog-item:nth-child(2) {
  margin-top: 0px;
}

.catalog-item:nth-child(2n) {
  margin-left: 74px;
}

.catalog-item-list li {
  display: inline-block;
  vertical-align: top;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 100%;
  margin-right: 5px;
}

.catalog-item:hover .catalog-item-list {
  background: #797979;
}

.catalog-item-list {
  width: 230px;
  height: 20px;
  background: #f1f1f1;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  padding-bottom: 5px;
  padding-top: 5px;
  margin: 0px;
  padding-left: 10px;
  font-size: 0px;
}


.item-description {
  position: absolute;
  bottom: 25px;
  left: 20px;
  display: none;
  width: 160px;
  min-height: 160px;
  padding-top: 36px;
  padding: 20px;
  background: white;
  text-align: center;
}

.item-description a {
  text-align: center;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}

.item-description p {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  padding-bottom: 30px;

}

.catalog-item:hover .item-description {
  position: absolute;
  display: block;
  bottom: 25px;
  left: 20px;
  width: 160px;
  min-height: 160px;
  background: white;
}


.item-description .btn {
  text-align: center;
  width: 140px;
  padding: 10px 30px;
  font-size: 18px;
  line-height: 8.5px;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  background: #fb565a;
  border-radius: 3px;
}


.item-description .btn:hover {
  background: #d6494d;
}

.item-description .btn:active {
  background: #b63538;
}


.main-content {
  width: 880px;
  padding-bottom: 30px;
  padding-top: 46px;
  border-top: 2px solid #eeeeee;
}

.main-content li {
  position: relative;
  padding-top: 20px;
  list-style: none;
}

.main-content li::before {
  content: "";
  position: absolute;
  bottom: 10px;
  left: -35px;
  display: block;
  width: 25px;
  height: 2px;
  background-color: red;
}


.index-content-left {
  float: left;
  width: 580px;
}

.index-content-left p {
  padding-top: 0px;
}

.index-content-left h2 {
  padding-top: 25px;
  margin: 0px;
}

.index-content-logo {
  padding-top: 10px;
  padding-left: 30px;
}


.index-content-right {
  float: right;
  width: 240px;
}

.index-content-right h2 {
  padding-top: 60px;
}


.since {
  position: relative;
  display: block;
  width: 90px;
  padding-left: 50px;
  padding-top: 25px;
}

.since::after {
  content: "";
  position: absolute;
  left: -30px;
  bottom: 10px;
  display: block;
  width: 65px;
  height: 2px;
  background-color: #eeeeee;
}

.since::before {
  content: "";
  position: absolute;
  right: -75px;
  bottom: 10px;
  display: block;
  width: 65px;
  height: 2px;
  background-color: #eeeeee;
}

.right-content-list {
}

.pagination {
  display: inline-block;
  width: 320px;
  margin-top: 80px;
  margin-bottom: 70px;
  margin-left: -50px;
}

.pagination li {
  display: inline-block;
  vertical-align: top;
}

.pagination a {
  width: 38px;
  min-height: 38px;
  background: #f1f1f1;
  color: #000000;
  font-size: 12px;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 11px 15px ;
  border-radius: 4px;
  margin-left: 8px;
}

.pagination a:hover {
  background: #e5e5e5;
}

.pagination a:active {
  background: #d5d5d5;
  box-shadow: inset 0 3px 0 0 #b5b5b5;
}

.pagination .next {
  padding: 12px 30px;
}

.pagination .disabled {
  background: #ffffff;
  border: 2px solid #e5e5e5;
}

.pagination .disabled:hover {
  background: #ffffff;
  border: 2px solid #e5e5e5;
}

.pagination .disabled:active {
  background: #ffffff;
  border: 2px solid #e5e5e5;
  box-shadow: none;
}


.partners {
  width: 880px;
  font-size: 0px;
  padding-bottom: 30px;
  border-bottom: 2px solid #eeeeee;
  border-top: 2px solid #eeeeee;
}

.partner-logo:active {
  color: #000000;
}

.partner-logo {
  display: inline-block;
  vertical-align: top;
  width: 210px;
  margin-right:115px;
}
.partner-logo:last-child{
  margin-right: 0px;
}

.partner-logo .glukhanko {
  padding-top: 65px;
}

.partner-logo .htmlacademy {
  padding-top: 55px;
}

.partner-logo .barbershop {
  padding-top: 42px;
}


footer {
}

.main-footer {
}

.map {
  margin-top: 85px;
  height: 416px;
  background: #e9e5dc url("../img/map.jpg") no-repeat top;
}

.contacts {
  position: relative;
  top: 90px;
  left: 50%;
  transform: translateX(-440px);
  width: 250px;
  min-height: 240px;
  background: white;
}

.contacts a {
  position: absolute;
  left: 24px;
  bottom: 25px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 4px;
  background: #fb565a;
  font-size: 12px;
  line-height: 18px;
  padding: 10px 52px;
}

.contacts a:hover {
  background: #d6494d;
}

.contacts a:active {
  background: #b63538;
  box-shadow: inset 0 3px 0 0 #9b2d30;
}


.contacts h2 {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  line-height: 30px;
  margin-top: 25px;
  margin-left: 20px;
}

.contacts p {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  line-height: 20px;
  color: #666666;
  padding-left: 20px;
  margin-top: 0px;
}

.contacs-tel {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  line-height: 20px;
  color: #666666;
  padding-left: 20px;
  padding-top: 3px;

}

.social-links {
  float: left;
  width:310px;
  padding-bottom: 70px;
  padding-top: 80px;
}

.social-btn{
  display: inline-block;
  width: 60px;
  height: 60px;
  background: #e1e1e1;
  border-radius: 50%;
  margin-right: 28px;
}

.social-btn:hover {
  background: #fb565a;
}

.social-btn:active {
  background: #d6494d;
  box-shadow: inset 0 3px 0 0 #9b2d30;
}


.promo-text {
  float: left;
  width: 550px;
  padding-bottom: 70px;
  padding-top: 76px;
  padding-left: 13px;
  text-align: left;
}

.promo-text b {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  font-size: 36px;
  line-height: 36px;
  padding-bottom: 12px;
}

.promo-text span {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  line-height: 22px;
  text-align: left;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
