body {
  font-family: "Roboto", "Verdana", sans-serif;
  color:#283136;
  font-size: 16px;
  font-weight:normal;
  line-height: 22px;
  }

h1 {
  font-family: "Roboto", "Verdana", sans-serif;
  color: #000000;
  font-size: 40px;
  font-weight:normal;
  line-height: 49px;
  background: lightgreen;
}

.catalog-title {
  display: inline-block;
  vertical-align: top;
  width: 660px;
  min-height: 80px;
  margin-bottom: 95px;
  margin-left: 105px;
  text-align: center;
}

h2 {
  font-family: "Roboto", "Verdana", sans-serif;
  color: #000000;
  font-size: 18px;
  font-weight:normal;
  line-height: 30px;
}

.index-content-title {
  font-family:"Roboto", "Verdana", sans-serif;
  color: #000000;
  font-size: 36px;
  font-weight:normal;
  line-height: 36px;
}

legend {
  font-family:"Roboto", "Verdana", sans-serif;
  color: #000000;
  font-size: 18px;
  font-weight:normal;
  line-height: 30px;
}


.container{
  width:880px;
  padding: 0px 10px;
  margin: 0 auto;
  background: lightyellow;
}

.main-header{

}


.index-logo{
  float: left;
  width: 140px;
  height: 56px;
  margin-top: 25px;
}

.main-navigation{
  float: left;
  width: 560px;
  min-height: 80px;
  margin-top:0px;
  background: lightgreen;;
}

.index-menu {
  display: inline-block;
  vertical-align: top;
  width: 100px;
  min-height: 0px;
  background: lightgrey;
  margin-top: 40px;
}

.user-block{
  float: right;
  width: 130px;
  min-height: 80px;
  background: lightgreen;
}


.cart{
  float: right;
  width: 130px;
  min-height: 0px;
  background: lightgrey;
  margin-top: 55px;
  margin-bottom: 15px;
}


.slider {
  float:left;
  width: 880px;
  min-height: 350px;
}


.services {
  float: left;
  width: 880px;
  min-height: 460px;
}

.service {
  float: left;
  min-height: 300px;
  width: 240px;
  margin-right: 80px;
  margin-bottom: 80px;
  margin-top: 80px;
  background: lightgreen;
}

.service:last-child {
  margin-right: 0;
}

aside {
  float:left;
  width: 240px;
  min-height: 740px;
  margin-top: 80px;
  background: lightgreen;
}

.catalog-conteiner{
  font-size: 0px;
}

.sort-catalog-list{


}


.sort-catalog{
  display: inline-block;
  vertical-align: top;
  width: 320px;
  min-height: 20px;
  background: grey;
  font-size: 16px;
}

.sort {
  display:inline-block;
  vertical-align: top;
  width: 40px;
  min-height: 30px;
  background: lightgrey;
}


.catalog-container{
  float: right;
  width: 570px;
  min-height: 1160;
  background: green;
}

.catalog {
  min-height: 1280px;
}

.catalog-list{
  float: right;
  width: 560px;
  min-height: 1090px;
  background: lightgreen;

}

.catalog-item{
  display: inline-block;
  vertical-align:top;
  width: 240px;
  min-height: 270px;
}

.catalog-item:nth-child(2n){
  margin-left: 74px;
}



.content-title{
  min-height: 475px;
  background: lightgreen;
}



.index-content-left{
  float: left;
  width: 620px;
  min-height: 360px;
  margin-top: 55px;
  margin-bottom: 70px;
  background: lightgreen;

}

.index-content-right{
  float: right;
  width: 240px;
  min-height: 360px;
  margin-top: 55px;
  margin-bottom: 70px;
  background: lightgreen;
}

.index-logo{
  float:left;
  width: 190px;
  min-height: 75px;

}

.right-content-list{
  margin-bottom: 70px;

}

.pagination{
  display: inline-block;
  vertical-align: top;
  width: 300px;
  height: 50px;
  background: lightgrey;
}

.partners {
  float: left;
  width: 880px;
  min-height: 170px;
}


.partner-logo{
  display: inline-block;
  vertical-align: top;
  width: 210px;
  min-height: 100px;
  margin-right:115px;
  background: lightgreen;
}
.partner-logo:last-child{
  margin-right: 0px;
}

footer{
  min-height: 720px;
}

.main-footer {
  min-height: 720px;
}

.map {
  min-height: 418px;
}

.contacts {
  float: left;
  width: 250px;
  min-height: 240px;
  margin-bottom:;
  margin-top:;
}

.social-links{
  float: left;
  width:310px;
  min-height:70px;
  padding-bottom: 70px;
  padding-top: 70px;

}

.promo-text{
  float: left;
  width: 570px;
  min-height: 70px;
  padding-bottom: 70px;
  padding-top: 70px;
  background: lightgreen;
}






.clearfix::after{
  content: "";
  display: table;
  clear: both;
}
